<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExplicitImplicit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43F9D9F71C9F2B2F00623EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43F9DA101C9F2B3000623EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43F9DA1B1C9F2B3000623EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
